body{
    background-color: rgb(32, 30, 30);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
   
}
.container{
    background-color: hsl(0, 1%, 15%);
    width:370px;
    height: 600px;
    position: absolute;
    top: 5%;
    left: 35%;
    border-radius: 10px;
    
    
}
.img{
    width: 70px;
    height: 85px;
    border-radius: 70%;
    margin-left: 43%;
    margin-top: 12%;
}
.para{
    color:  white;
    font-size: 22px;
    font-weight:bold;
    margin-left: 30%;

}
.para-1{
    color:hsl(75, 94%, 57%);
    font-weight: bold;
    margin-left: 30%;
    font-size: 14px;
    position: absolute;
    top: 29.5%;

}
.para-2{
    color: whitesmoke;
    position: absolute;
    top: 37%;
    left: 12%;
}

.sub-contain{
        margin-top: 22%;
}
.first{
    margin-top:3%;
    margin-left: 22px;
    width: 325px;
    height: 50px;
    border-radius: 10px;
    background-color:hsl(0, 2%, 20%);
    color: white;
    font-weight: bold;
    border: 0px;
    font-size: 15px;
    
    
   
}
.first:hover{
    background-color: hsl(75, 94%, 57%);
    color: black;
}
.first{
    cursor: pointer;
    caret-color: black;
}





